@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';
@import './theme.css';
@import 'tw-animate-css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}
